<div class="row">
	<h2>検索結果<span>(<%= @model %>)</span></h2>
	<% if @model == "user" %>
		<p>"<%= @search %>"</p>
		<%= render 'users/users_index', users: @results %>
	<% elsif @model == "book" %>
		<p>"<%= @search %>"</p>
		<%= render 'books/book_index', books: @results %>
	<% end %>
</div>